{% extends '../base.html' %}
{% load static %}
{% block extrahead %}
    <title>Advertio|Registration</title>
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
{%  endblock %}
{%  block content %}
<h1>Register</h1>
{% if messages %}
    {% for message in messages %}
     <p>{{message}}</p>
     {% endfor %}
{% endif %}
<div class="form-section">
<div class="form-wrapper">
    <form method="POST">
        {% csrf_token %}
        <h2>Hi, stranger 😊 ! </h2>
        <p>Fill in the form to create your account.  </p>
        {% for field in form %}
        <div class="field-wrapper">
            {{field.label}}
            {{field}}
        </div>
        {% endfor %}
        <button class="auth-cta" type="submit">Register</button>
        {% if form.messages %}
            {% for  messages in form.messages %}
                {{messages}}
            {% endfor%}
        {% endif %}
    </form>
</div>
</div>

{% endblock %}