.card-item{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 550px;
    width: 300px;
    margin: 1.2rem;
    background-color: rgb(247, 247, 247);
    padding: 1.5rem;
    box-shadow: 1px 5px 16px -2px #000000;
    

}
.card-header img{
    width: 300px;
    height: 300px;
    transform: translateY(-24px); /* I could not find another way to remove the padding of the card */
}

.card-details{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
.details-wrapper{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.price-arranged{
    display: flex;
    justify-content: space-between;
    align-items: center;
width: 100%;        }
.price-arranged i {
    font-size: 14pt;
}
.landing{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.advert-list{
    display:flex;
    gap:20px;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-left: 2rem;
    flex-wrap: wrap;
   


}
.wishlist-button{
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.wishlist-tooltip{
display: none;
width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-60px);
  margin-bottom: 1.5rem;
}
.wishlist-tooltip::after{
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.wishlist-button:hover .wishlist-tooltip{
    display: inline;
    bottom: 100%;
 
}