* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #F2F4F5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #fff;
    padding: 1.5rem;
    margin-bottom: 2rem;
    z-index: 10;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.logo-wrapper {
    align-self: flex-start;
}

.nav-parent-wrapper {
    display: flex;
    width: 50%;
    padding: 1.5rem;
}

.parent-item {
    height: 100%;
    width: 30%;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navLogo,
.parent-item i {
    font-size: 1.2rem;
}

.parent-item li {
    margin-top: 1rem;
}

.profile-link {
    position: relative;
    cursor: pointer;
    z-index: 10;
}

.profile-options {
    position: absolute;
    bottom: 20;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 150px;
    padding: 1rem;
    transform: translateX(-15px);
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.hidden {
    display: none;
}

.button-add {
    background-color: white;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    border: 3px solid #2662FF;
    color: #2662FF;
    align-items: center;
    transition: all 0.3s ease;
}

.button-add a {
    color: inherit;
    font-weight: bold;
    font-size: 16px;
}

.button-add:hover {
    background-color: #2662FF
    color: #fff;
}


.logout-list-item {
    color: #e63946;
   
}
.logout-list-item a{
    color: inherit;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}