.alert{
    width: 80%;
    height: 50px;
    margin-bottom: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.success{
    background-color: #d4edd9;
    color: #155724;
}
.danger{
     background-color: #f8d7d9;
    color: #721c23;
}
.search-form{
    display: flex;

}
.search-form input[type='text']{
    width: 500px;
    height: 60px;
    border: none;
    outline: none;
    padding-left: 2rem;



}
.search-form button{
    background-color: white;
    border:none;
    border-left: 1px solid #444444;
    color: black;
    width: 100px;

    cursor: pointer;
}
.search-form button:hover{
    background-color: #002F34;
    color: white;
}