
    <header>
        <nav>
            <ul class="navbar">
                <div class="logo-wrapper">
                    <li id='navLogo'>
                        <a href='{% url "accounts:landing" %}'>Advertio</a>
                    </li>
                </div>
                <div class="nav-parent-wrapper">
                    {% if user.is_authenticated %}
                    <div class="parent-item">
                        <li  class='profile-link'>
                            <div id="profileBtn">
                            
                            <a href=''>Hi,{{request.user.username}}
                            
                            </a>
                            <div id="arrowIcon">
                                <svg  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 9L12 17L20 9" stroke="#001A72" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                            </div>
                            

                            </div>
                            <!--fa fa-caret-up -->

                            <ul class='profile-options hidden'>
                                <li> <a  href="{% url 'accounts:profile' %}">Profile</a></li>
                                <li>My ads</li>
                                <li>Messages</li>
                                <li>Settings</li>
                                <li class='logout-list-item'>
                                    <a  href="{% url 'accounts:logout' %}">Logout</a>
                                    
                                </li>
                            </ul>
                        </li>
                    </div>
                    <div class="parent-item">
                        <li>
                            
                            <a class="nav-wishlist" href='{% url "adverts:wishlist_page" %}'>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path d="M17.516 3C19.898 3 22.003 4.564 22.003 7.712C22.003 12.675 15.475 16.009 12 19.647C8.52501 16.009 1.99801 12.676 1.99801 7.713C1.99801 4.658 4.00601 3 6.48501 3C9.66501 3 11.331 6.644 12 8.312C12.667 6.646 14.333 3 17.516 3ZM17.516 1C15.342 1 13.17 2.062 12 4.419C10.83 2.062 8.65801 1 6.48501 1C3.08201 1 0.00100708 3.39 0.00100708 7.689C0.00100708 14.959 9.90401 18.627 12 23C14.096 18.627 24 14.959 24 7.689C24 3.103 20.586 1 17.516 1Z" fill="#696868"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0">
                                    <rect width="24" height="24" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>Wishlist</a>

                        </li>
                    </div>
                    <div class="parent-item">
                        <div class="button-add">
                            <a href="">Post an ad</a>

                        </div>
                    </div>
                    {% else %}
                    <div class="parent-item">
                        <div class="button-add">
                            <a href="{% url 'accounts:login' %}">Login</a>

                        </div>
                    </div>
                    <div class="parent-item">
                        <div class="button-add">
                            <a href="{% url 'accounts:register' %}">Register</a>

                        </div>
                    </div>
                    {% endif %}
               
                  



                </div>

            </ul>
        </nav>
    </header>
