
    <header>
        <nav>
            <ul class="navbar">
                <div class="logo-wrapper">
                    <li id='navLogo'>
                        <a href=''>Advertio</a>
                    </li>
                </div>
                <div class="nav-parent-wrapper">
                    {% if user.is_authenticated %}
                    <div class="parent-item">
                        <li  class='profile-link'>
                            <div id="profileBtn">
                            <i class='far fa-user-circle'></i>
                            <a href=''>Hi,{{request.user.username}}</a>
                            <i id="arrowIcon" class="fa fa-caret-down	
                            "></i>
                            </div>
                            <!--fa fa-caret-up -->

                            <ul class='profile-options hidden'>
                                <li>Profile</li>
                                <li>My ads</li>
                                <li>Messages</li>
                                <li>Settings</li>
                                <li class='logout-list-item'>
                                    <a  href="{% url 'accounts:logout' %}">Logout</a>
                                    
                                </li>
                            </ul>
                        </li>
                    </div>
                    <div class="parent-item">
                        <li>
                            <i class="far fa-heart"></i>
                            <a href=''>Wishlist</a>

                        </li>
                    </div>
                    <div class="parent-item">
                        <div class="button-add">
                            <a href="">Post an ad</a>

                        </div>
                    </div>
                    {% else %}
                    <div class="parent-item">
                        <div class="button-add">
                            <a href="{% url 'accounts:login' %}">Login</a>

                        </div>
                    </div>
                    <div class="parent-item">
                        <div class="button-add">
                            <a href="{% url 'accounts:register' %}">Register</a>

                        </div>
                    </div>
                    {% endif %}
               
                  



                </div>

            </ul>
        </nav>
    </header>
