
    <header>
        <nav>
            <ul class="navbar">
                <div class="logo-wrapper">
                    <li id='navLogo'>
                        <a href=''>Advertio</a>
                    </li>
                </div>
                <div class="nav-parent-wrapper">
                    <div class="parent-item">
                        <li id="profileBtn" class='profile-link'>
                            <i class='far fa-user-circle'></i>
                            <a href=''>Hi,martin</a>
                            <i id="arrowIcon" class="fa fa-caret-down	
                            "></i>
                            <!--fa fa-caret-up -->

                            <ul class='profile-options hidden'>
                                <li>Profile</li>
                                <li>My ads</li>
                                <li>Messages</li>
                                <li>Settings</li>
                                <li>Logout</li>
                            </ul>
                        </li>
                    </div>
                    <div class="parent-item">
                        <li>
                            <i class="far fa-heart"></i>
                            <a href=''>Wishlist</a>

                        </li>
                    </div>
                    <div class="parent-item">
                        <div class="button-add">
                            <a href="">Post an ad</a>

                        </div>
                    </div>



                </div>

            </ul>
        </nav>
    </header>
