{% extends '../base.html' %}
{% load static %}
{% block extrahead %}
    <title>Advertio|Profile page</title>
    <link rel="stylesheet" href="{% static 'css/add_advert.css' %}">

{%  endblock %}
{%  block content %}
<section class="add_advert">
    <form id="addAdvertForm" method="post" enctype="multipart/form-data">
       {% csrf_token %}
    {% for hidden in postForm.hidden_fields %}
        {{ hidden }}
    {% endfor %}

       <div class="form-field">
           {{ form.title.label }}
           {{ form.title }}
           {{ form.category.label }}

           {{ form.category }}
       </div>
        <div class="form-field">

    {{ formset.management_form }}
    {% for form in formset %}
                {{ form }}

    {% endfor %}

        </div>
    <div class="form-field">
        {{ form.description.label }}
        {{ form.description }}

    </div>
    <div class="form-field">
        {{ form.price.label }}

        {{ form.price }}
        {{ form.currency.label }}

        {{ form.currency }}
        {{ form.location.label }}
        {{ form.location }}
    </div>
    <div class="button-wrapper">
        <a href="" class="cancel-button">Cancel</a>
        <button type="submit" class="add_button">Submit</button>

    </div>
{% if form.errors %}
    {% for error in form.errors %}
        <p>{{ error }}</p>
    {% endfor %}

{% endif %}


    </form>

</section>


{% endblock %}
{% block extra_scripts%}
<script src="{% static 'js/wishlist_utils.js' %}" type="module"></script>
<script src="{% static 'js/base.js' %}" type="module"></script>


{% endblock %}