{% extends '../base.html' %}
{% load static %}
{% block extrahead %}
    <title>Advertio|Profile page</title>
    <link rel="stylesheet" href="{% static 'css/advert_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/card-utils.css' %}">

{%  endblock %}
{%  block content %}
<main>
        <section class="main-section">
            <div class="gallery-section">
                <div class="thumbnail-wrapper">
                
                    <div id="leftArrow">
                        <svg width="13" height="23" viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.821223 10.4392C0.235437 11.025 0.235437 11.9748 0.821223 12.5605L10.3672 22.1065C10.9529 22.6923 11.9027 22.6923 12.4885 22.1065C13.0743 21.5207 13.0743 20.5709 12.4885 19.9852L4.0032 11.4999L12.4885 3.0146C13.0743 2.42881 13.0743 1.47907 12.4885 0.893279C11.9027 0.307492 10.9529 0.307492 10.3672 0.893279L0.821223 10.4392ZM4.11795 9.99988H1.88188L1.88188 12.9999H4.11795V9.99988Z" fill="#FFFDFD"/>
                            </svg>
                            
                            
                    </div>
                   
                        
                 

                        <img id="thumbnailImg" src="{{advert.get_thumbnail.image.url}}" alt="not working boss">
                        <div id="rightArrow">
                            <svg width="15" height="23" viewBox="0 0 15 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.224 12.462C13.783 11.8506 13.7405 10.9018 13.129 10.3428L3.16545 1.23366C2.55404 0.674676 1.60524 0.71718 1.04626 1.3286C0.487274 1.94001 0.529779 2.88881 1.14119 3.44779L9.99772 11.5448L1.90069 20.4013C1.34171 21.0128 1.38421 21.9616 1.99563 22.5205C2.60704 23.0795 3.55584 23.037 4.11482 22.4256L13.224 12.462ZM9.95022 13.0485L12.184 12.9484L12.0498 9.95139L9.81596 10.0515L9.95022 13.0485Z" fill="#FFFDFD"/>
                                </svg>
                                
                        </div>
                        
                            
                     
                     
                       
                   
             
    
                
                </div>
                <div class="images-wrapper">
                {% for advert_image in advert_images %}
                                <img class ="img-item" src="{{advert_image.image.url}}" alt="not working boss">

    
                {% endfor %}    
                </div>
            </div>
            <div class="aside-section">
                <div class="profile-section">
                    <h3>Profile</h3>
                    <div class="profile-header">
                        <img class="profile-picture" src="{{advert.author.profile.profile_picture.url}}" alt="" class="profile-picture">
                        <h3>{{advert.author.username}}</h3>
                        <p>{{advert.author.profile.bio}}<p>
                    </div>
                    <div class="cta-wrapper">
                        <a class="call-button" data-number="{{advert.author.profile.phone_number}}" href="">Call</a>
                        <a class="text-button" href="">Send Message</a>
                    </div>
                </div>
            </div>
            

        

           
        </section>
        <section class="addition-details-section">
            <div class="add-details">
                <div class="date-and-wishlist">
                    <span class="date-uploaded">{{advert.uploaded}}</span>
    
                    <a href='{% url "adverts:toggle_to_wishlist" advert.id %}'>
                {% if advert in request.user.wishlist.adverts.all %}
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.24801C8.852 -1.15399 0 0.423009 0 7.19201C0 11.853 5.571 16.619 12 23C18.43 16.619 24 11.853 24 7.19201C24 0.40001 15.125 -1.11399 12 4.24801Z" fill="#CC3030"/>
                        <span class="wishlist-tooltip">Add to wishlist </span>
                    </svg>
                {% else %}
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path d="M17.516 3C19.898 3 22.003 4.564 22.003 7.712C22.003 12.675 15.475 16.009 12 19.647C8.52501 16.009 1.99801 12.676 1.99801 7.713C1.99801 4.658 4.00601 3 6.48501 3C9.66501 3 11.331 6.644 12 8.312C12.667 6.646 14.333 3 17.516 3ZM17.516 1C15.342 1 13.17 2.062 12 4.419C10.83 2.062 8.65801 1 6.48501 1C3.08201 1 0.00100708 3.39 0.00100708 7.689C0.00100708 14.959 9.90401 18.627 12 23C14.096 18.627 24 14.959 24 7.689C24 3.103 20.586 1 17.516 1Z" fill="#696868"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="24" height="24" fill="white"/>
                    </clipPath>
                    </defs>
                    <span class="wishlist-tooltip">Add to wishlist </span>
                </svg>
                {% endif %}
                </a>     
                </div>
                <div class="details-information">
    
                
                <span class="advert-title">{{advert.title}}</span>
                <h3>{{advert.price}} {{advert.currency}}</h3>
                <h3>Description</h3>
                <p>{{advert.description}}</p>
            </div>
        </div>
        </section>
     
   
    </main>
 <script src="{% static 'js/advert_details.js' %}"></script>

{% endblock %}