{% extends '../base.html' %}
{% load static %}
{% block extrahead %}
    <title>Advertio|Profile page</title>
    <link rel="stylesheet" href="{% static 'css/advert_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/card-utils.css' %}">

{%  endblock %}
{%  block content %}
<main>
        <section class="main-section">
            <div class="gallery-section">
                <div class="thumbnail-wrapper">
                
                    <!--<i id="leftArrow" class="far fa-arrow-alt-circle-left" ></i> --->
                    <svg id="leftArrow" width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.93934 10.9393C0.353553 11.5251 0.353553 12.4749 0.93934 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97919 12.6066 1.3934C12.0208 0.807611 11.0711 0.807611 10.4853 1.3934L0.93934 10.9393ZM3 10.5H2L2 13.5H3V10.5Z" fill="#002F34"/>
                    </svg>
                        
                 

                        <img id="thumbnailImg" src="{{advert.get_thumbnail.image.url}}" alt="not working boss">
                        <svg id="rightArrow" width="16" height="25" viewBox="0 0 16 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.9385 14.2702C14.5823 13.7489 14.6816 12.8044 14.1602 12.1605L5.66442 1.66908C5.14307 1.02527 4.19853 0.925992 3.55472 1.44734C2.91091 1.96869 2.81163 2.91323 3.33298 3.55704L10.8848 12.8828L1.55907 20.4346C0.915261 20.956 0.815986 21.9005 1.33733 22.5443C1.85868 23.1881 2.80322 23.2874 3.44703 22.7661L13.9385 14.2702ZM11.8432 14.4918L12.8377 14.5963L13.1513 11.6127L12.1568 11.5082L11.8432 14.4918Z" fill="#002F34"/>
                        </svg>
                            
                     
                     
                       
                    <!--<i id="rightArrow" class="far fa-arrow-alt-circle-right" ></i> -->
             
    
                
                </div>
                <div class="images-wrapper">
                {% for advert_image in advert_images %}
                                <img class ="img-item" src="{{advert_image.image.url}}" alt="not working boss">

    
                {% endfor %}    
                </div>
            </div>
            <div class="aside-section">
                <div class="profile-section">
                    <h3>Profile</h3>
                    <div class="profile-header">
                        <img class="profile-picture" src="{{advert.author.profile.profile_picture.url}}" alt="" class="profile-picture">
                        <h3>{{advert.author.username}}</h3>
                        <p>{{advert.author.profile.bio}}<p>
                    </div>
                    <div class="cta-wrapper">
                        <a class="call-button" data-number="{{advert.author.profile.phone_number}}" href="">Call</a>
                        <a class="text-button" href="">Send Message</a>
                    </div>
                </div>
            </div>
            

        

           
        </section>
        <section class="addition-details-section">
            <div class="add-details">
                <div class="date-and-wishlist">
                    <span class="date-uploaded">{{advert.uploaded}}</span>
    
                    <i class="far fa-heart wishlist-button">
                        <span class="wishlist-tooltip">Add to wishlist </span>
                    </i>
                </div>
                <div class="details-information">
    
                
                <span class="advert-title">{{advert.title}}</span>
                <h3>{{advert.price}} {{advert.currency}}</h3>
                <h3>Description</h3>
                <p>{{advert.description}}</p>
            </div>
        </div>
        </section>
     
   
    </main>
 <script src="{% static 'js/advert_details.js' %}"></script>

{% endblock %}