{% extends '../base.html' %}
{% load static %}
{% block extrahead %}
    <title>Advertio|Profile page</title>
    <link rel="stylesheet" href="{% static 'css/advert_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/card-utils.css' %}">

{%  endblock %}
{%  block content %}
<main>
        <section class="main-section">
            <div class="gallery-section">
                <div class="thumbnail-wrapper">
                
                    <i id="leftArrow" class="far fa-arrow-alt-circle-left" ></i> 
                        <img id="thumbnailImg" src="{{advert.get_thumbnail.image.url}}" alt="not working boss">
                    
                    <i id="rightArrow" class="far fa-arrow-alt-circle-right" ></i> 
             
    
                
                </div>
                <div class="images-wrapper">
                {% for advert_image in advert_images %}
                                <img class ="img-item" src="{{advert_image.image.url}}" alt="not working boss">

    
                {% endfor %}    
                </div>
            </div>
            <div class="aside-section">
                <div class="profile-section">
                    <h3>Profile</h3>
                    <div class="profile-header">
                        <img class="profile-picture" src="{{advert.author.profile.profile_picture.url}}" alt="" class="profile-picture">
                        <h3>{{advert.author.username}}</h3>
                        <p>{{advert.author.profile.bio}}<p>
                    </div>
                    <div class="cta-wrapper">
                        <a class="call-button" data-number="{{advert.author.profile.phone_number}}" href="">Call</a>
                        <a class="text-button" href="">Send Message</a>
                    </div>
                </div>
            </div>
            

        

           
        </section>
        <section class="addition-details-section">
            <div class="add-details">
                <div class="date-and-wishlist">
                    <span class="date-uploaded">{{advert.uploaded}}</span>
    
                    <i class="far fa-heart wishlist-button">
                        <span class="wishlist-tooltip">Add to wishlist </span>
                    </i>
                </div>
                <div class="details-information">
    
                
                <span class="advert-title">{{advert.title}}</span>
                <h3>{{advert.price}} {{advert.currency}}</h3>
                <h3>Description</h3>
                <p>{{advert.description}}</p>
            </div>
        </div>
        </section>
     
   
    </main>
 <script src="{% static 'js/advert_details.js' %}"></script>

{% endblock %}